@import url("/assets/css/style.css");
body {
  background-color: black;
}
.clr-orange {
  color: var(--clr-orange);
}
.opacity-06 {
  opacity: 0.6;
}
/* OUR TEAM SEC STARTS */
.our-team-cards {
  color: var(--clr-white);
  transition: 0.3s ease-in-out;
}
.our-team-cards:hover {
  color: var(--clr-orange);
}
.fw-semibold {
  font-weight: 600;
}
.btn-blue {
  background: var(--clr-sky-blue);
  backdrop-filter: blur(96.5px);
  border: 1px solid transparent;
  color: var(--clr-white);
  transition: 0.3s ease-in-out;
  gap: 10px;
}
.btn-blue:hover {
  color: var(--clr-sky-blue);
  background: var(--clr-white);
}
/* OUR TEAMS SEC ENDS */

/* Subscribe To Our Newsletter SEC STARTS */
.sec-subscribe-newsletter-container {
  max-width: 1038px;
  padding: 0 12px;
}
.bg-dim-black {
  background: var(--clr-dim-black);
}
.sec-subscribe-newsletter-para {
  max-width: 748px;
}
.sec-subscribe-newsletter-input {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 32px;
  width: 399px;
  max-width: 100%;
  background: transparent;
  color: var(--clr-off-white);
  opacity: 0.5;
}
/* Subscribe To Our Newsletter SEC  ENDS */

/* FOOTER STARTS */
.footer_links_common {
  opacity: 1 !important;
}
.social-sites-logo:hover {
  transform: translateY(-13%);
}
.hr-line {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}
/* FOOTER ENDS */
@media (min-width: 992.98px) {
  .footer-para {
    max-width: 395px;
  }
}
